<div class="jumbotron text-center">
  <h1>Edit Post</h1>
  <muted><kbd>Quick and simple</small></muted>
</div>

<div class="container-flex text-center">
  <%= render 'form', post: @post %>
  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
</div>
