<div class="jumbotron text-center">
  <h1>New Post</h1>
  <muted><kbd>Quick and simple</small></muted>
</div>

<div class="container-flex text-center">
<%= render 'form', post: @post %>

<%= link_to 'Home', posts_path %>
</div>
